body{
  background-color: #E5B8F4;
}

img{
  border-radius: 10px;
}
.container {

  display: flex;

  justify-content: center;

}

h1 {

  letter-spacing: 2px;
  font-size: 32px;
  text-transform: uppercase;
  font-family: 'DM Serif Display', serif;
  color: #2D033B;
}

h2 {

  font-size: 26px;

  letter-spacing: 2px;

  font-family: 'DM Serif Display', serif;
  color: #2D033B;

}

.btn {
  border-radius: 5px;
  display: inline-block;

  cursor: pointer;

  border: 1px solid transparent;

  letter-spacing: 2px;

  text-transform: uppercase;

  font-weight: 700;

  text-align: center;

  color: #fff;

  background-color: #D800A6;

  align-self: center;

  padding: 10px;
  

}

p {
  margin-left: 200px;
  margin-right: 200px;
  font-size: 18px;
}

button {

  background: white;

  border: none;

  font-size: 18px;

  color: #D800A6
  
}

